<div class="courses-area pt-100 pb-70">
    <div class="container">
        <div class="courses-list-tab">
            <ngx-tabset>
                <ngx-tab tabTitle="Trending Projects">
                    <div class="row">
                        <div class="col-lg-4 col-md-6" *ngFor="let q of projects;let i = index">
                            <div class="single-courses-item mb-30">
                                <div class="courses-image">
                                    <a routerLink="/single-courses" class="d-block"><img [src]='projectpic[i]' alt="image"></a>
                                </div>

                                <div class="courses-content">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="course-author d-flex align-items-center">
                                            <img src="assets/img/courses/courses1.jpg" class="shadow" alt="image">
                                            <span>{{q.author}}</span>
                                        </div>

                                        <div class="courses-rating">
                                            <div class="review-stars-rated">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star-half'></i>
                                            </div>

                                            <div class="rating-total">
                                                4.5 (2)
                                            </div>
                                        </div>
                                    </div>

                                    <h3><a routerLink="/single-courses" style="text-decoration: none; color: rgb(72, 38, 38)">{{q.title}}</a></h3>
                                    <p>{{q.shortdescription}}</p>
                                </div>

                                <div class="courses-box-footer">
                                    <ul>
                                        <li class="students-number">
                                            <i class='bx bx-user'></i> {{q.projectLength}}
                                        </li>

                                        <li class="courses-lesson">
                                            <i class='bx bx-book-open'></i>{{q.level}}
                                        </li>

                                        <li class="courses-price">
                                            {{q.cost}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Most Popular Projects">
                    <div class="row">
                        <div class="col-lg-4 col-md-6" *ngFor="let q of mostPopularProjects;let i = index">
                            <div class="single-courses-item mb-30">
                                <div class="courses-image">
                                    <a routerLink="/single-courses" class="d-block"><img src="assets/img/courses/courses4.jpg" alt="image"></a>
                                </div>

                                <div class="courses-content">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="course-author d-flex align-items-center">
                                            <img src="assets/img/user4.jpg" class="shadow" alt="image">
                                            <span>{{q.author}}</span>
                                        </div>

                                        <div class="courses-rating">
                                            <div class="review-stars-rated">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>

                                            <div class="rating-total">
                                                4.0 (1)
                                            </div>
                                        </div>
                                    </div>

                                    <h3><a routerLink="/single-courses" style="text-decoration: none; color: rgb(72, 38, 38)">{{q.title}}</a></h3>
                                    <p>{{q.shortdescription}}</p>
                                </div>

                                <div class="courses-box-footer">
                                    <ul>
                                        <li class="students-number">
                                            <i class='bx bx-user'></i> {{q.projectLength}}
                                        </li>

                                        <li class="courses-lesson">
                                            <i class='bx bx-book-open'></i> {{q.level}}
                                        </li>

                                        <li class="courses-price">
                                            <span>$200</span> {{q.cost}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Most Recent Projects">
                    <div class="row">
                        <div class="col-lg-4 col-md-6" *ngFor="let q of recentArray;let i = index">
                            <div class="single-courses-item mb-30">
                                <div class="courses-image">
                                    <a routerLink="/single-courses" class="d-block"><img src="assets/img/courses/courses3.jpg" alt="image"></a>
                                </div>

                                <div class="courses-content">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="course-author d-flex align-items-center">
                                            <img src="assets/img/user3.jpg" class="shadow" alt="image">
                                            <span>{{q.author}}</span>
                                        </div>

                                        <div class="courses-rating">
                                            <div class="review-stars-rated">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>

                                            <div class="rating-total">
                                                4.0 (1)
                                            </div>
                                        </div>
                                    </div>

                                    <h3><a routerLink="/single-courses" style="text-decoration: none; color: rgb(72, 38, 38)">{{q.title}}</a></h3>
                                    <p>{{q.shortdescription}}</p>
                                </div>

                                <div class="courses-box-footer">
                                    <ul>
                                        <li class="students-number">
                                            <i class='bx bx-user'></i> {{q.projectLength}}
                                        </li>

                                        <li class="courses-lesson">
                                            <i class='bx bx-book-open'></i> {{q.level}}
                                        </li>

                                        <li class="courses-price">
                                            {{q.cost}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </ngx-tab>
            </ngx-tabset>
        </div>
    </div>
</div>